<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="ExactaBank"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Padilla"
        tools:targetApi="31">
        <activity
            android:name=".Agregar_tarjetas"
            android:exported="false"
            android:label="@string/title_activity_agregar_tarjetas"
            android:theme="@style/Theme.Padilla" />
        <activity
            android:name=".listaTransacciones"
            android:exported="false"
            android:label="@string/title_activity_lista_transacciones"
            android:theme="@style/Theme.Padilla" />
        <activity
            android:name=".ModificarMeta"
            android:exported="false"
            android:label="@string/title_activity_modificar_meta"
            android:theme="@style/Theme.Padilla" />
        <activity
            android:name=".Agregartransaccion"
            android:exported="false"
            android:label="@string/title_activity_agregar_transaccion"
            android:theme="@style/Theme.Padilla" />
        <activity
            android:name=".DashBoard"
            android:exported="false"
            android:label="@string/title_activity_dash_board2"
            android:theme="@style/Theme.Padilla" />
        <activity
            android:name=".actividad_transaccion"
            android:exported="false" />
        <activity
            android:name=".RegistroUsuario"
            android:exported="false" />
        <activity
            android:name=".ui.login.actividad_registro"
            android:exported="false"
            android:label="@string/title_activity_actividad_registro" />
        <activity
            android:name=".actividad_login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>